body {
    font-family: 'PT Sans' , Now, sans-serif;
    background-image: linear-gradient(rgba(115, 128, 119, 0.8), rgba(115, 128, 119, 0.8)),
url("../images/background.jpg");
    background-size: cover;
    background-blend-mode: color;
    background-position: center;
    margin: 0;
}

main {
    width: 100%;
}

.logo {
    max-width: 180px;
}

.flex {
    display: flex;
}

header{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

#hamnav {
    background: none;
}

#hamitems { 
    display: flex;
}
#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover { background:none; }
#hamnav label, #hamburger { display: none; 
}

h1 {
    font-family: 'PT Sans' , Now, sans-serif;
    font-size: 50px;
    color: #000;
    padding: 0px 0px 20px 300px
}

h2 {
    font-family: 'PT Sans' , Now, sans-serif;
    font-size: 25px;
    color: #fff;
    padding-left: 300px;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.boxes {
    max-width: 100%;
    height: 300px;
}

.boxone {
    flex: 2;
    background-image: radial-gradient(rgba(000, 000, 00019, 0.5), rgba(000, 000, 000, 0.25));
    flex-direction: column-reverse;
}

.boxtwo {
    flex: 1;
    background-image: radial-gradient(rgba(128, 108, 127, 0.25), rgba(128, 108, 127, 0.6));
}

.jakker {
    max-width: 250px;
}

.cta {
    font-family: 'PT sans';
    text-decoration: none;
    color: #806C7F;
    background-color: #fff;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    header {
        flex-direction: row-reverse;
    }
    
    #hamitems a {
      box-sizing: border-box;
      display: block;
      border-top: 1px solid #333;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: block; 
      color: #000;
      background: none;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { 
        display: block; 
        position:absolute;
        background-color: #fff;

    }

    .boxes {
        flex-direction: column;
    }
}