body {
    font-family: 'PT Sans' , Now, sans-serif;
    
    background-image: linear-gradient( rgba(115, 128, 119, 0.8), rgba(115, 128, 119, 0.8)),
url("../images/background.jpg");
    background-size: cover;
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}


main {
    width: 100%;
}

.logo {
    max-width: 180px;
}

.flex {
    display: flex;
}

header{
    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

#hamnav {
    background: none;
}

#hamitems { 
    display: flex;
}
#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover { background:none; }
#hamnav label, #hamburger { display: none; 
}

h1 {
    font-size: 50px;
    color: #000;
}

h2 {
    font-size: 25px;
    color: #fff;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.boxes {
    max-width: 100%;
    height: 300px;
}

.boxone {
    flex: 2;
    background-image: linear-gradient(90deg, rgba(000, 000, 00019, 0.5), rgba(000, 000, 000, 0.25));
    flex-direction: column-reverse;
    height: 22em;
}

.boxtwo {
    flex: 1;
    background-image: linear-gradient(45deg, rgba(128, 108, 127, 0.25), rgba(128, 108, 127, 0.6));
    justify-content:space-evenly;
    align-items: center;
    height: 22em;
}

.jakker {
    max-width: 200px;
    max-height: 200px;
}

.jakke2, .jakke4 {
    margin: 15px;
}

.cta {
    text-decoration: none;
    font-size:xx-large;
    font-weight: bold;
    color: #806C7F;
    background-color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 4%;   
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.25);
}

/* ABOUT */

.about {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    margin: 1.6em;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.25);
}

.about-h1 {
    margin-left: 1.6em;
    
}

.about h2 {
    color: #000;
}

/* CONTACT */

.contact {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    height: 15em;
}

/* SHOP */



/* JACKET */



/* CHECKOUT */



/* COMPLETE */

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */

    body {
        background-size: cover;
    }

    header {
        flex-direction: row-reverse;
    }

    .logo {
      position: absolute;
      margin-top: 10px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    #hamitems a {
      box-sizing: border-box;
      display: block;
      border-top: 1px solid #333;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: block; 
      color: #000;
      background: none;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { 
        display: block; 
        position:absolute;
        background-color: #fff;

    }

    .boxes {
        flex-direction: column;
        margin-top: 40px;
    }

    .boxtwo {
        flex-direction: column;
    }
}